@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: "#a428bc";
  --secondary-color: "#ffc400";

  /* video reviews */
  --gap: 40px;
  --grisTercero: #333333;
  --borderSpacing: 30px;
  --textShadow: #164c84;
  --bodyColor: white;
  --boxShadow: #000;
  --sectionMargin: 60px;

  /* faqs */
  --p: 0.75em;

  /* faqsTemplate */
  --menuWidth: 100vw;

  /* BannerEbook */
  --fondoGris: #f3f3f3;
  --bannerTitle: 35px;
  --h5: 17px;
  --subHeaderColor: #000;
}

em {
  display: inline-block;
}

li {
  margin-left: 1rem;
}

li::before {
  /* content: "•"; */
  content: "";
  background: url(/icons/Iconos\ MM-2.png);
  background-size: cover;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: -2.5rem;
  margin-right: 0.5rem;
}

/* remove padding inside iframe - not working */
.hl_form-builder--main,
#form-builder {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* used in video-reviews */
.section {
  margin-top: var(--sectionMargin);
  margin-bottom: var(--sectionMargin);
  padding: 0 var(--borderSpacing);
}

.section.section__padding {
  padding-top: var(--sectionMargin);
  padding-bottom: var(--sectionMargin);
}

/* used in bannerEbook */
.subHeader {
  font-size: 20px;
  color: #FFF9ED;
  text-align: left;
  margin-top: 40px;

}

.subHeader p {
  padding: 15px 0;
}

.blog-heading strong,
strong {
  --tw-gradient-text: #ffe580, #ffc400;
  background-image: linear-gradient(to right, var(--tw-gradient-text));

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container html,
body {
  padding: 0;
  margin: 0;
}

html {
  @apply bg-white;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: "#FFF9ED" !important;
}

body>div {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.feature-body a {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #ffe580;
}

* {
  box-sizing: border-box;
}

.boldToGrad>p>strong {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-mm_primary to-mm_secondary;
}

.featuredHeading p>strong {
  --tw-gradient-text: #ffe580, #ffc400;
  background-image: linear-gradient(to right, var(--tw-gradient-text));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* #ed5332, */
.featuredText p {
  margin: 15px 0;
}

.featuredText p>strong,
ul>li>strong {
  --tw-gradient-text: #ffe580, #ffc400;
  background-image: linear-gradient(to right, var(--tw-gradient-text));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@layer components {
  .styledDocument a {
    @apply font-semibold text-darkBlue;
  }

  .styledDocument h1 {
    @apply text-3xl font-semibold py-5 leading-10;
  }

  .styledDocument h2 {
    @apply text-2xl font-semibold py-4 leading-8;
  }

  .styledDocument h3 {
    @apply text-lg font-semibold py-3 leading-7;
  }

  .styledDocument h4 {
    @apply text-base font-semibold py-3 leading-7;
  }

  .styledDocument h5 {
    @apply text-sm font-semibold py-2 leading-6;
  }

  .styledDocument h6 {
    @apply text-xs font-semibold py-1 leading-5;
  }
}

.mm-logo-div {
  width: 170px;
}

/* @media only screen and (max-width: 839px) {
  .first-line-icon {
    left: -25px;
  }
} */

@media only screen and (max-width: 640px) {
  .hero-arrow {
    display: block;
    top: -39rem;
    left: -12rem;
    scale: 0.6;
  }
}

@media only screen and (max-width: 420px) {
  .mm-logo-div {
    width: 110px;
  }
}